---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/Header.astro";
import TailwindSolution from "../../../components/TailwindSolution.tsx";

export async function getStaticPaths() {
  const challengeFiles = import.meta.glob(
    "../../../data/tailwind-challenges/*.json",
    { eager: true },
  );
  const challenges = Object.values(challengeFiles).map(
    (mod: any) => mod.default || mod,
  );
  const allDates = challenges.map((c: any) => c.date).sort();

  return challenges.map((challenge: any) => ({
    params: { date: challenge.date },
    props: { challenge, allDates },
  }));
}

const { challenge, allDates } = Astro.props;
---

<Layout title={`${challenge.title} - Tailwind Solution`}>
  <div class="flex flex-col h-screen">
    <Header currentPath="/tailwind" />
    <div
      class="rounded-lg overflow-hidden border border-gray-700 flex-1 min-h-0"
    >
      <TailwindSolution client:load challenge={challenge} allDates={allDates} />
    </div>
  </div>
</Layout>
